.sakı span{
	width: 150px;
	color: red;
	background: yellow;
}

.siyah{
	color: white;
	background-color: #000000;
}

.tablo {

	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}


td {
	margin: 0px;
	border-top:1px solid #000;
	border-right:1px solid #000;
	border-spacing: 0px !important;

}
	
